@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
}

.grid-container {
    display: grid;
    text-align: center;
    grid-template: auto 1fr auto / 350px 1fr;
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
    height: 100%;

}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
    background-color: #f2f3f5;
    border-bottom: 2px solid #2bbd67;
}

.header > img {
    width: 70px;
    height: 70px;
    filter: invert(61%) sepia(46%) saturate(629%) hue-rotate(92deg) brightness(90%) contrast(95%);
}

.header > div > span {
    color: #2bbd67;
}

.sidebar {
    grid-area: sidebar;
    background-color: #fefcfe
    ;
}

.main {
    grid-area: main;
    background-color: #ececec;
}

.footer {
    grid-area: footer;
    background-color: #f2f3f5;
}


div {
    font-size: 50px;
}

